# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.woff binary
*.woff2 binary

# Diff behavior
*.md diff=markdown
*.dart diff=dart
*.ts diff=typescript
